.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.container{
    display: flex;
    align-items: center;

}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-image: no-repeat;
    background-position: center;
}

.container__imagem{
    padding: 1em;
}

/*---Parte do Menu*/
.container__botao {
    
}

.cabecalho__menu-hamburguer {

}

.container__imagem{

}

.lista-menu{
    display: none;
    position: absolute; 
    top: 100%; 
}

.container__botao:checked~.lista-menu { /*pra quando eu clicar aparecer a lista do menu ja que tirei em lista-menu none*/
    display: block;
}


.lista-menu__titulo{}

.lista-menu__item{}

.lista-menu__link{}